/* element styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Roboto' , sans-serif;
    font-size: 1.312rem;
    line-height: 1.4;
    font-weight: 400;
}
section {
    padding: 1.5rem 0;
}
.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}
header {
    background-color: black;
    top: 0;
    min-height: 25px;
    padding: 0px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: right; 
      
}
span {
    color: white;
}
li {
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}
h1 {
    font-weight: 700;
    margin: 0.6rem 0;
}
nav {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}
.icon {
    color: white;
}
.box {
    margin-left: -13rem;
}
.box-3 {
    margin-right: -20rem;
}