/* element styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Roboto' , sans-serif;
    font-size: 1.312rem;
    line-height: 1.4;
    font-weight: 400;
}
section {
    padding: 1.5rem 0;
}
header {
    background-color: black;
    top: 0;
    min-height: 25px;
    padding: 0px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: right; 
    margin-block: auto;
}
span {
    color: white;
}
li {
    list-style: none;
}
li:hover {
    color: #eee;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #eee;
}
h1 {
    font-weight: 700;
    margin: 0.6rem 0;
}
nav {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
footer {
    background-color: #d0d0d5;
}
.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
    text-align: center;
    justify-content: center;
}
.icon {
    color: white;
}
.box {
    margin-left: -7.5rem;
    background-color: #3b3b4f;
    
}
.box-3 {
    margin-right: -20rem;
}
.add-effect1 {
    background-color: black;
    color: white;
    border-radius: 0;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid white;
    margin-inline: auto;
}
.add-effect2 {
    background-color: #feac32;
    color: black;
    border-radius: 0;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0.5rem;
    cursor: pointer;
    border: 3px solid #feac32;
    margin-inline: auto;
    padding: 8px;
}
.add-effect2:hover {
    background-color: #fecc4c;
}

.inline {
    text-decoration: underline;
}
.inline:hover {
    color: #1b1b32;
}
.sign-in {
    margin: 0 auto;
    max-height: 100%;
    max-width: 300px;
    padding: 10px;
    width: 100%;
    font-weight: 700;
    border: 3px solid #feac32;
    background-color: #feac32;
    cursor: pointer;
    margin-bottom: 2rem;
}
.sign-in:hover {
    background-color: #fecc4c;
}

.class1, 
.class2,
.class3,
.class4,
.class5,
.class6,
.class7,
.class8,
.class9,
.class10,
.class11,
.class12 {
    margin: 0 auto;
    max-height: 100%;
    max-width: 600px;
    padding: 10px;
    width: 100%;
    font-weight: 700;
    cursor: pointer;
    border: 4px solid ;
    background-color: #d0d0d5;
    color: #1b1b32;
    line-height: 1.3;
    margin-bottom: 2rem;
}
.class1:hover, 
.class2:hover,
.class3:hover,
.class4:hover,
.class5:hover,
.class6:hover,
.class7:hover,
.class8:hover,
.class9:hover,
.class10:hover,
.class11:hover,
.class12 :hover {
    color: #eee;
    background-color: #1b1b32;
}